<span class="ppp-icon ppp-icon-{{ post.icon }}"></span>
<span class="ppp-postdate">written {{ post.post_date|date('l, F j Y H:i') }}</span>
<a class="ppp-icon ppp-icon-profile" href="{{ url('ppp_legacy.member', {'member':user.uid}) }}" title="View Profile">
  <span class="alt-text">Profile</span>
</a>
{% if user.homepage %}
<a class="ppp-icon ppp-icon-homepage" href="{{ user.homepage }}" title="View Homepage">
  <span class="alt-text">Homepage</span>
</a>
{% endif %}
<span class="ppp-icon" {% if in_topic %} id="{{ '%06d'|format(post.pid) }}" {% endif %}>
  #{{ post.pid }}
</span>
<hr class="ppp-rule" />
{{ post.body }}
{% if post.edit_date %}
  <small>[ {{ post.edit_date|date('l, F d, Y H:i') }}: Message edited by: {{ post.edit_name }} ]</small>
{% endif %}
{{ post.signature }}
<hr class="ppp-rule" />
<span class="ppp-postcount">Posts: <strong>{{ link(user.posts, url('ppp_legacy.member_posts', {'member':user.uid})) }}</strong></span> |
<span class="ppp-registered">Registered: <strong>{{ user.joined|date('l, F j Y H:i') }}</strong></span>
